<div   id="page-container">
    <div  id="content-wrap">
        <app-header></app-header>
        <div class="container col-lg-8 ">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div
        id="footer"
        class="
        mt-5
        pt-3
        navbar-dark
        bg-dark
        footer
        col-12
        mx-auto
        text-center text-white
        fw-light
        "
        >
        <p class="text-center">
        Copyright © 2021 Danielius 
        </p>
    </div>
</div>




   