<div class="col-md-8 mx-auto mt-5">
  <h3>You are logged in!</h3>
  <div class="card mt-4">
    <div class="card-header">
      <b>Hey, {{ user.email }}</b>
    </div>
    <div class="card-body">
      <div class="d-flex">
        <p>Now you can&nbsp;</p>
        <b> READ AND WRITE&nbsp;</b> <b *ngIf="admin"> + DELETE &nbsp;</b>
        <p>recipes</p>
        <p *ngIf="admin">&nbsp;too</p>
        <p>!</p>
      </div>

      <!-- <button class="btn btn-info" type="button" (click)="onLogout()">Log out</button> -->
      <a
        href=""
        class="btn btn-dark"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['read-recipes']"
        >Read recipes</a
      >
      <a
        href=""
        style="margin-left: 10px"
        class="btn btn-outline-dark"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['write-recipes']"
        >Write recipes</a
      >
    </div>
  </div>
</div>
